.fca_small{
  float: left;
  width: 16em;
  height: 10em;
  margin-left: calc(50% - 8em);
  margin-top: 10em;
  box-shadow: 0px 0px 35px 10px rgb(0 0 255 / 13%);
  border: solid;
  border-color: rgb(0 0 255);
  border-width: 1px;

}
.fca_big{
  float: left;
  width: 40em;
  height: 10em;
  margin-left: calc(50% - 20em);
  margin-top: 20em;

  box-shadow: 0px 0px 35px 10px rgb(25,25,27);
  border: solid;
  border-color: rgb(30 30 135);
  border-width: 1px;
  border-radius: 0.5em;

}

.title
{
  float: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0px;
  font-size: 1em;
  color: White;
}

.inputfield
{
  float: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1em;
  color: White;
  background: rgba(0,0,0,0);;
  width: calc(100% - 1em);

  border:none;
  border-bottom:solid;
  border-color: White;
  border-width: 2px;
}
