.fca_small{
  float: left;
  width: 30vw;
  height: 10vw;
  margin-left: calc(50% - 15vw);
  margin-top: 10vw;
}
.fca_big{
  float: left;
  width: 40vw;
  height: 10vw;
  margin-left: calc(50% - 20vw);
  margin-top: 20vw;
}
.fca_subunit
{
  float: left;
  margin-left: 1.3vw;
  width: calc(100% - 1.35vw);
  border-left:solid;
  border-color: White;
  border-width: 2px;
}
.title
{
  float: left;
  width:100%;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  margin-bottom: 0px;
  font-size: 2vw;
  color: White;
}

.inputfield
{
  float: left;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-size: 1vw;
  color: White;
  background: rgba(0,0,0,0);;
  width: calc(100% - 1vw);

  border:none;
  border-bottom:solid;
  border-color: White;
  border-width: 2px;
}
